---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

 {% include scripts.html %}

<div class="page__footer">
      
<table align="center">
			
  			<tr>
    				<th style="text-align:center"><a href="https://clustrmaps.com/site/1bk7n"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=8wGenbXAYYbg23_3-xM3ZDVMCbOuOnG0yKG-5ya8Lt4&cl=ffffff" ></a>
    				</th>
  			</tr>
		</table>
	
	</div>
  </body>
</html>
